//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================
@import "_vars";
//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Futura PT";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "ui/_null";

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
  color: #25262a;
  font-weight: 500;
  @include adaptiv-font(18, 12);


  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1560px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}

.page-home {
  background-color: #f7f7f7;
}

.section {
  margin-bottom: 50px;

  @media (min-width:$md3+px) {
    margin-bottom: 95px;
  }
}

.page-home-scroll {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: $darck;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================



//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================


@import "ui/_ui";
@import "ui/_forms";
@import "ui/_btn";
@import "ui/_slick";
@import "blocks/_heading";
@import "ui/_rating";


@import "blocks/_header";
@import "blocks/_intro";
@import "blocks/_main";
@import "blocks/_present";
@import "blocks/_buyfrom";



@import "blocks/_section-acticle";


@import "blocks/_footer";
@import "blocks/_popup";