.intro {

   margin-bottom: 30px;

   @media (min-width:1200px) {
      margin-bottom: 94px;
      background: linear-gradient(to right, $darck 40%, #f7f7f7 40%);
   }

   .sitebar {
      @media (min-width:1200px) {
         display: block;
         visibility: visible;
      }
   }
}

.intro-row {
   display: flex;

   @media (max-width:1200px) {
      margin-top: 25px;
   }
}

.intro-col {

   &__left {
      @media (min-width:1200px) {
         flex: 0 1 242px;
         width: 242px;
      }
   }

   &__right {
      background-color: #f7f7f7;
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: 0;

      @media (min-width:1200px) {
         padding-left: 30px;
      }
   }
}

.sitebar {

   @media (max-width:1200px) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 3;
      padding-top: 15px;
      width: 270px;
      @include anim(0.4s, 0s);
      background-color: $darck;
      padding-bottom: 50px;
      visibility: hidden;

      &.active {
         opacity: 1;
         visibility: visible;
      }
   }

   &__item {
      position: relative;
      padding-right: 15px;
   }

   &__item-title {
      color: #a6c632;
      font-weight: 700;
      @include adaptiv-font(24, 12);
      line-height: 48px;
      position: relative;
      padding-left: 45px;
      cursor: pointer;

      &:before {
         content: '';
         position: absolute;
         top: 14px;
         left: 15px;
         border: 10px solid transparent;
         border-left: 10px solid #fff;
         @include anim(0.3s, 0s);
      }

      &.active {
         &:before {
            transform: rotate(90deg);
            top: 18px;
         }

         .sitebar__item-list {
            display: block;
         }
      }
   }

   &__item-list {
      display: none;
   }

   li {
      padding-left: 45px;
      position: relative;
   }

   &__item-link {
      @include adaptiv-font(24, 12);
      color: #ffffff;
      font-weight: normal;
      line-height: 48px;
      font-family: "Futura PT";
      @include anim(0.3s, 0s);

      &:hover {
         color: $acent;
      }
   }
}

.intro-main {

   @media (min-width:1200px) {
      display: flex;
      justify-content: space-between;
   }
}

.heading {
   color: #fff;

   &__subtitle {

      font-weight: 700;
      @include adaptiv-font(34, 16);

      @media (min-width:$md3+px) {
         line-height: 41.93px;
      }

      span {
         font-weight: 400;
         display: block;

         @media (max-width:$md3+px) {
            margin-top: 10px;
            margin-bottom: 10px;
         }
      }
   }

   &__title-holder {
      @include adaptiv-font(72, 36);
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 40px;

      @media (min-width:$md3+px) {
         line-height: 92.88px;
         margin-bottom: 40px;
      }
   }
}


.main-slider {
   position: relative;
   min-width: 0;
   flex: 0 1 71%;
   margin-bottom: 35px;

   &__item {
      position: relative;
      padding-left: get-vw(100px);
      padding-top: get-vw(160px);
      padding-bottom: get-vw(147px);
      z-index: 3;

      @media (max-width:$md4+px) {
         min-height: 287px;
      }

      @media (min-width:1200px) {
         padding-left: 100px;
         padding-top: 160px;
         padding-bottom: 147px;
      }

      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #2d3138;
         opacity: 0.4;
      }
   }

   &__item-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   &__item-content {
      z-index: 1;
      position: relative;
   }

   &__item-btn {
      @media (min-width:$md4+px) and (max-width:$md2+px) {
         height: 50px;
      }
   }

   &__control {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;

      &-arrow {
         width: 39px;
         height: 26px;
         background-color: $acent;
         cursor: pointer;
         z-index: 3;
         display: flex;
         justify-content: center;
         align-items: center;

         @media (min-width:$md3+px) {
            width: 65px;
            height: 44px;
         }


         &.slick-disabled {
            background-color: #2d3138;
            opacity: 0.41;
         }

         &-prev {
            &:after {
               content: '';
               background-image: url(../img/arrow.svg);
               background-repeat: no-repeat;
               width: 26px;
               height: 22px;
            }
         }

         &-next {
            &:after {
               content: '';
               background-image: url(../img/arrow.svg);
               background-repeat: no-repeat;
               width: 26px;
               height: 22px;
               transform: rotate(180deg);
            }
         }
      }
   }


}


.info {
   display: flex;
   flex-wrap: wrap;
   position: relative;

   @media (min-width:1200px) {
      margin-left: 23px;
      margin-bottom: 24px;
      flex: 0 1 29%;
      width: 29%;
   }

   &__item-icon {
      height: 54px;
      width: 54px;
      margin-right: 20px;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 100%;
      min-height: 130px;
      //border: 7px solid #fff;
      margin-bottom: 23px;
      box-shadow: inset 0 0 0 7px #fff;
      position: relative;

      @media (min-width:600px) {
         flex: 1 1 50%;
      }

      @media (min-width:1200px) {
         justify-content: flex-start;
         padding-left: 23px;

         &:last-child {
            margin-bottom: 0;
         }
      }


      span {
         display: block;
         background: $acent;
         position: absolute;
         margin: 0;
         padding: 0;


         &:nth-of-type(1) {
            width: 0;
            height: 7px;
            top: 0;
            left: 0;
            animation: lineWidth 1.25s ease-in-out forwards 2s;

         }

         &:nth-of-type(2) {
            width: 7px;
            height: 0%;
            top: 0;
            right: 0;
            animation: lineHeight 1.25s ease-in-out forwards 3s;
         }

         &:nth-of-type(3) {
            width: 0%;
            height: 7px;
            bottom: 0;
            right: 0;
            animation: lineWidth 1.25s ease-in-out forwards 4s;
         }

         &:nth-of-type(4) {
            width: 7px;
            height: 0%;
            bottom: 0;
            left: 0;
            animation: lineHeight 1.25s ease-in-out forwards 5s;
         }
      }
   }

   &__item-heading {
      font-weight: 600;
      @include adaptiv-font(24, 12);

      @media (min-width:1400px) {
         line-height: 32px;
      }
   }

   &__item-text {
      color: #a1a1a1;
      line-height: 22px;
   }
}

@keyframes lineWidth {
   to {
      width: 100%;
   }
}

@keyframes lineHeight {
   to {
      height: 100%;
   }
}



.bottom__line {
   &-list {
      display: flex;
      flex-wrap: wrap;
   }

   &-item {
      flex: 1 1 50%;
      position: relative;
      text-align: center;
      background-color: $darck;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      @include adaptiv-font(24, 16);
      @include anim(0.3s, 0s);
      padding: 19px 0;
      cursor: pointer;

      &:hover {
         background-color: $acent;
      }

      &.active {
         background-color: $acent;
      }

      &:after {
         content: '';
         position: absolute;
         right: 0;
         top: 4px;
         height: 90%;
         width: 1px;
         background-color: #fff;
      }

      @media (max-width:$md3+px) {
         margin-bottom: 7px;
      }

      @media (min-width:$md3+px) {
         flex: 1 1 auto;
      }

      @media (max-width:$md3+px) {
         &:nth-child(even) {
            &:after {
               display: none;
            }
         }
      }

      &:last-child {

         &:after {
            display: none;
         }
      }

      a {
         color: #ffffff;
      }
   }
}


.infoitem {
   transition: color 0.25s;
   position: relative;

   &:before,
   &:after {
      content: '';
      position: absolute;
      box-sizing: inherit;
   }

   &:before,
   &:after {
      border: 7px solid transparent;
      width: 0;
      height: 0;
   }

   &:before {
      top: 0;
      left: 0;
   }

   &:after {
      bottom: 0;
      right: 0;
   }

   &:hover {
      color: $acent;
   }


   &:hover:before,
   &:hover:after {
      width: 100%;
      height: 100%;
   }

   &:hover:before {
      border-top-color: $acent;
      border-right-color: $acent;
      transition:
         width 0.25s ease-out,
         height 0.25s ease-out 0.25s;
   }

   &:hover:after {
      border-bottom-color: $acent;
      border-left-color: $acent;
      transition:
         border-color 0s ease-out 0.5s,
         width 0.25s ease-out 0.5s,
         height 0.25s ease-out 0.75s;
   }
}