.catalog-box__main-tab {
   display: none;

   &.active {
      display: block;
   }
}


.catalog-box {
   display: flex;
   justify-content: space-between;

   &__main {
      width: 100%;

      @media (min-width:$md2+px) {
         flex: 0 1 77%;
         max-width: 77%;
      }

   }

   &__right {
      margin-left: 30px;

      @media (max-width:$md3+px) {
         display: none;
      }

      @media (min-width:$md2+px) {
         flex: 0 1 23%;
         max-width: 23%;
      }

   }
}

.catalog-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}


.item-cards {
   flex: 0 1 45%;
   display: flex;
   flex-direction: column;
   width: 45%;
   text-align: left;
   margin-bottom: 28px;
   padding: 12px 10px 1px 10px;
   box-shadow: 0 15px 29px 3px rgba(171, 171, 171, 0.18);
   background-color: #ffffff;
   @include anim(0.3s, 0s);
   cursor: pointer;

   &:hover {
      box-shadow: 0 15px 29px 3px rgba(148, 148, 148, 0.34);
   }

   @media (min-width:600px) {
      flex: 0 1 30%;
      width: 30%;

   }

   @media (min-width:$md3+px) {
      flex: 0 1 45%;
      width: 45%;
      padding: 22px 20px 26px 20px;
   }

   @media (min-width:1200px) {
      flex: 0 1 30%;
      width: 30%;
   }


   &__block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      &-price {
         flex-direction: column-reverse;
         align-items: flex-start;
         margin-top: 10px;
      }

      &-btn {
         @media (max-width:$md3+px) {
            flex-direction: column-reverse;
            justify-content: center;
         }
      }
   }

   &__favotite {
      width: 20px;
      height: 17px;
      background-image: url('../img/no-favoritet.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      &.item-cards__favorite-add {
         background-image: url("../img/favoritet.svg");
      }

      @media (min-width:$md3+px) {
         margin-right: 10px;
         margin-bottom: 18px;
         width: 29px;
         height: 26px;
      }
   }

   &__img {
      max-width: 54px;
      max-height: 82px;
      margin: 0 auto;
      margin-bottom: 11px;
      flex-grow: 1;

      @media (min-width:$md3+px) {
         max-width: 129px;
         max-height: 199px;
         margin-bottom: 30px;
      }
   }

   &__name {
      color: $darck;
      font-weight: 600;
      @include adaptiv-font(18, 12);

      @media (min-width:$md2+px) {
         line-height: 23px;
         text-transform: uppercase;
      }
   }

   &__price {
      @include adaptiv-font(24, 14);
      font-weight: 600;
   }

   &__avtor {
      color: #a1a1a1;
      @include adaptiv-font(16, 12);
      font-weight: 900;
      line-height: 17px;

      @media (min-width:$md2+px) {
         line-height: 21.86px;
      }
   }

}

.right-box {

   &__banner {
      margin-bottom: 30px;
      text-align: center;
   }
}

.right-content {
   background-color: #fff;
   padding-top: 38px;

   &__title {
      color: $darck;
      @include adaptiv-font(24, 14);
      font-weight: 600;
      line-height: 34px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 33px;
      border-bottom: 2px solid #ebebeb;
   }

   &__item {
      border-bottom: 2px solid #ebebeb;
      padding: 23px 0px 28px 0px;

      @media (min-width:$md2+px) {
         padding-left: 42px;
      }

   }
}


.item-rec {
   display: flex;

   @media (max-width:$md2+px) {
      flex-direction: column;
      align-items: center;
   }

   &__img {
      max-width: 44px;
      width: 100%;
      max-height: 73px;
      margin-bottom: 13px;

      @media (min-width:$md2+px) {
         margin-right: 32px;
      }
   }

   &__block {
      @media (max-width:$md2+px) {
         text-align: center;
      }
   }

   &__name {
      color: $acent;
      @include adaptiv-font(16, 12);
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 8px;
   }

   &__avtor {
      color: #a1a1a1;
      @include adaptiv-font(14, 10);
      margin-bottom: 8px;
   }

   &__price {
      color: $darck;
      @include adaptiv-font(18, 12);
      font-weight: 600;
      line-height: 21.86px;
   }
}