.present {
   .container {
      padding: 0;
   }

   &-col-left {
      flex: 0 1 10%;
      background-color: $darck;
   }

   &-col-right {
      padding: 21px 10px 30px 25px;
   }

   &__inner {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
   }

   &-body {
      display: flex;
      width: 90%;
      //background: linear-gradient(to right, #2d3138 10%, #fff 10%);
      box-shadow: 0 15px 29px 3px rgba(171, 171, 171, 0.18);
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

   }

   &__bg {
      min-height: 377px;
      position: relative;
      width: 90%;
      margin-left: auto;


      @media (min-width:$md3+px) {
         min-height: 480px;
      }

      @media (min-width:1200px) {
         min-height: 570px;
      }

      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #1a1c1f;
         opacity: 0.8;
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__heading {
      color: $acent;
      @include adaptiv-font(24, 14);
      font-weight: 700;
      line-height: 15.0px;
      text-transform: uppercase;

      border-bottom: 2px solid $acent;
      margin-bottom: 16px;
      padding-bottom: 16px;

      @media (min-width:$md3+px) {
         margin-bottom: 25px;
         padding-bottom: 36px;
         line-height: 23.0px;
      }
   }

   &__login {
      color: $darck;
      font-family: "Futura PT";
      @include adaptiv-font(24, 14);
      font-weight: 500;
      text-decoration: underline;
   }

   &__text {
      @include adaptiv-font(24, 14);
   }

   &__text-acent {
      display: block;
      color: $acent;
      font-family: "Futura PT";
      @include adaptiv-font(18, 14);
      font-weight: 500;
      margin-top: 16px;
      margin-bottom: 10px;
   }

   &__text-big {
      @include adaptiv-font(46, 30);
      font-weight: 600;
      text-transform: uppercase;

   }

   &__form {
      max-width: 205px;
      flex-direction: column;
      width: 100%;

      @media (min-width:$md3+px) {
         max-width: 355px;
      }
   }

   &__form-input {
      margin-top: 33px;
      box-shadow: 0 0 4px rgba(37, 38, 42, 0.3);

      &:after {
         display: none;
      }

      input {
         background-color: #f3f5f3;
      }
   }

   &__form-bottom {
      height: 38px;
      margin-top: 17px;

      @media (min-width:1200px) {
         height: 55px;
      }
   }

   &__image {
      position: absolute;
      right: -22%;
      bottom: -31px;
      width: 179px;
      height: auto;


      @media (min-width:600px) {
         right: -10%;
      }

      @media (min-width:850px) {
         width: 300px;
      }

      @media (min-width:1200px) {
         width: auto;
         bottom: -93px;
      }


   }
}